<a href="https://colab.research.google.com/github/gilbertpdrqz123/OOP-58002/blob/main/Fundementals_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a comment
print("Hello World")

Hello World

Phyton Variable

Python Indention

In [1]:
if 5>2:
  print("yes")

yes

Python Comments

In [2]:
print("Hello, World!")

Hello, World!

Python Variable

In [3]:
x = "Sally"

a = 0
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)

Sally
0
1
2

Casting

In [4]:
d = 4
d - int(4)
print(d)

4

Type ()function

In [5]:
d = 4
d - int(4)
print(type(d))

<class 'int'>

Double Quotes and Single Quotes

In [7]:
y = 'Ana'
Y = "Robert"
print(y)
print(Y)

Ana
Robert

Multiple Variables

In [9]:
#x =" Tony"
k=l=m="four"
print(k)
print(l)
print(m)

four
four
four

Output Variable Python

In [10]:
print("Python programming is Enjoying")

h = "Enjoying"
p = "Python programming is"
print("Python programming is" + h)
print(p + h)

Python programming is Enjoying
Python programming isEnjoying
Python programming isEnjoying

Arithmethic Operations

In [13]:
print(c+d) #c = 2, d = 4
print(d-c)
print(d*c)
print(int(d/c))
print(d%c)
print(3/2) #1.50
print(d**c)

6
2
8
2
0
1.5
16

Assignment Operators

In [14]:
q=10
q+=5 #same as q=q+5

print(q) #same as q = q+5, q= 10+5 =15

15

Boolean Logic

In [15]:
s = 10
print(s^2)
print(s|2)

8
10

Comparison Operators

In [16]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [19]:
s>q and s==s #False
s>q or s==s #True

print(s>q and s==s)
print(s>q or s==s)

False
True

Identity Operator

In [20]:
s is q 
print(s is not q)

True

Bitwise Operator

In [24]:
u=2 #1010
print(u<<1)

g=10
print(g<<1)

4
20