<a href="https://colab.research.google.com/github/gilbertpdrqz123/OOP-58002/blob/main/Operations_and_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
a=7
b=6

print(10>9)
print(10<9)
print(a > b)

True
False
True

In [11]:
print(bool("Maria"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a BOolean

In [30]:
def my_Function():
  return False

print(my_Function())

False

In [28]:
if my_Function():
  print("True")
else:
  print("False")

False

Application 1

In [41]:
print (10>9)
a=6
b=7

print(a==b)
print(a!=a)

True
False
False

Phyton Operators

In [49]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10%5)
print(10//3)
print(10**2)

15
5
3.3333333333333335
50
0
3
100

Bitwise operators

In [57]:
c = 60
d = 13

c&d
print(c|d)
print(c^d)
print(d<<2)

61
49
52

Logical Operators

In [56]:
h = True
l = False
h and l
h or l
not(h or l)

False

Application 2

In [73]:
#Phyton Assignment Opperators
x+=3 #same as x = x + 3
x-=3 #same as x = x - 3
x*=3 #same as x = x * 3
x/=3 #same as x = x / 3
x%=3 #same as x = x % 3

Identity Operators

In [74]:
h is l
h is not l

True

#Control Structure

if statement

In [157]:
if a>b:
  print("a is greater than b")

a is greater than b

Elif Statement

In [158]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

Else Statement

In [159]:
a=10
b=10

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [95]:
if a==b:print("a is equal to b")

a is equal to b

Short Hand If...Else Statement

In [163]:
a = 9
b = 6
print("a is greaten than b") if a>b else print('b is greatern than a')

a is greaten than b

and

In [164]:
if a>b and a==b:
  print("both condition are True")

Or

In [151]:
if a<b or a==b:
  print("both condition are True")

both condition are True

Nested If

In [170]:
x =int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
          print("but not above 50")

48
x is above 10
and also above 20
and also above 30
and also above 40
but not above 50

#Loop Statement

For Loop

In [171]:
week=['Sunday', "Monday", 'Tuesday', "Wednesday", "Thursday", "Friday", "Saturday",]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [176]:
#to display Sunday to Wednesday using For Loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday
Wednesday

In [179]:
#to display only Wednesday using break statement

for x in week:
  if x=="Wednesday":
    break
print(x)

Wednesday

While Statement

In [180]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 3- Create a python program that displays no.3 using break statement

In [201]:
i=1
while i<6:
  if i==3:  
    break
  i+=1
    
print(i)

3